.main {
    flex: 1;
    border-radius: 5px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.gridIcon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.gridTitle {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
    color: #fff;
}

.gridInfo {
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
}

.yourImc {
    font-size: 17px;
    margin: 10px 0 40px;
    color: #fff;
}